{% extends "oasis/base.html" %}

{% block title %}{{ page.metadata.title }} - {{ site_name }}{% endblock %}
{% block description %}{{ page.metadata.description or site_description }}{% endblock %}

{% block content %}
<div class="container-fluid px-5 py-5">
    <div class="row justify-content-center">
        {% if page.toc %}
        <div class="col-lg-8 col-xl-7">
        {% else %}
        <div class="col-lg-10 col-xl-8">
        {% endif %}
            <article class="oasis-article fade-in">
                <header class="mb-5 text-center">
                    <h1 class="oasis-title mb-4">{{ page.metadata.title }}</h1>
                    {% if page.metadata.description %}
                    <p class="oasis-subtitle">{{ page.metadata.description }}</p>
                    {% endif %}
                    <div class="oasis-meta d-flex flex-wrap justify-content-center gap-4 mt-4">
                        {% if page.metadata.date %}
                        <span><i class="bi bi-calendar3"></i> {{ page.metadata.date }}</span>
                        {% endif %}
                        {% if page.metadata.author %}
                        <span><i class="bi bi-person"></i> {{ page.metadata.author }}</span>
                        {% endif %}
                    </div>
                </header>
                
                <div class="content-body oasis-content">
                    {{ page.content|safe }}
                </div>
            </article>
        </div>
        
        {% if page.toc %}
        <div class="col-lg-3 col-xl-2 d-none d-lg-block">
            <div class="sticky-sidebar">
                <div class="oasis-toc">
                    <h6 class="text-uppercase small fw-bold mb-3">On this page</h6>
                    <div class="toc-content">
                        {{ page.toc|safe }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
